*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #B58DB6;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-task-bar{
    height: 95vh;
    width: 16em;
    border-radius: 15px;
    background-color: white;
    margin-right: 1em;
}
.main-content{
    height: 95%;
    width: 98em;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.logo{
    width: 16em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.list-items li{
    list-style-type: none; 
    padding-left: 2em;
    transition: .1s ease-in;
}
.list-items li:hover{
    transform: scale(1.1);
}
.list-items li:active{
    transform: scale(1.0);
}
.list-items a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 1.0em;
}

.list-items i {
    font-size: 1.2em;
    padding-right: 1.5em;
    padding-left: 1em;
}

.list-items ul li{
    padding: 1.5em;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title .title-text{
    font-size: 2.2em;
    padding: .4em 1.8em;
}
hr{
    border: 1px solid rgb(226, 226, 226);
}
.shelves-container{
    padding-left: 3.7em;
}
.shelves button{
    margin: 1em .3em;
    padding: .2em .8em;
    font-size: 1em;
    border: none;
    background-color: rgba(195, 209, 241, 0.404);
    color: rgb(95, 109, 155);
    border-radius: 5px;
    transition: .1s ease-in;
    cursor: pointer;
}
.shelves button:hover{
    background-color: rgb(195, 209, 241);
}
.shelves button:active{
    background-color: rgba(195, 209, 241, 0.404);
}
.shelf{
    padding-right: .1em;
    color: black;
}
.search-books-container{
    padding: 1.4em;
    padding-left: 4em;
    position: relative;
    background-color: #e6edf575;
}
.search-books-container input{
    width: 30em;
    padding: .4em;
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 2.4em;
    color: rgb(160, 160, 160);
}
.search-books-container i{
    position: absolute;
    z-index: 2;
    left: 74px;
    top: 32px;
    font-size: 1.2em;
    color: rgb(160, 160, 160);
}
.search-books-container select{
    width: 10em;
    padding: .36em;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(160, 160, 160);
    margin-left: .8em;
}
.book-container{
    height: 74.6vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #e6edf575;
    display: flex;
    justify-content: center;
    align-items: center;


    overflow-y: auto;          
    align-items: flex-start;   
    padding-top: 2em;          
}
    

.book-grid{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);     
    gap: 40px;
    
}
.book-card {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.09);
    transition: all 0.25s ease;
    cursor: pointer;
    height: 24em;
    
}
.book-card:hover{
    transform: scale(1.1);
}
.book-img{
    height: 14em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-img img{
    position: relative;
    height: 14em;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.book-details{
    position: relative;
    height: 10em;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 2;
    background-color: white;
    padding-left: 1em;
}
.book-title {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 4px;
  padding-top: 1em;
}

.book-author {
  font-size: .9em;
  color: #6b7280;
  margin-bottom: 6px;
}
.rating {
  color: #fbbf24; 
  margin-bottom: 6px;
}
.shelf-tag {
  display: inline-block;
  background-color: rgba(195, 209, 241, 0.404);
  color: #181818;
  font-size: 1em;
  padding: 4px 10px;
  border-radius: 10px;
  margin-top: .3em;
}

    .autocomplete-wrapper {
    position: relative;
    width: 300px;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4em;
    cursor: pointer;
}