*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #B58DB6;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-task-bar{
    height: 95vh;
    width: 16em;
    border-radius: 15px;
    background-color: white;
    margin-right: 1em;
}
.main-content{
    height: 95vh;
    width: 98em;
    border-radius: 15px;
    background-color: white;
}
.logo{
    width: 16em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.list-items li{
    list-style-type: none; 
    padding-left: 2em;
    transition: .1s ease-in;
}
.list-items li:hover{
    transform: scale(1.1);
}
.list-items li:active{
    transform: scale(1.0);
}
.list-items a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 1em;
}

.list-items i {
    font-size: 1.2em;
    padding-right: 1.5em;
    padding-left: 1em;
}

.list-items ul li{
    padding: 1.5em;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title .title-text{
    font-size: 2.2em;
    padding: .4em 1.8em;
}
hr{
    border: 1px solid rgb(226, 226, 226);
}
.search-books-container{
    padding: 1.4em;
    padding-left: 4em;
    position: relative;
    background-color: #e6edf575;
    display: flex;
    justify-content: space-between;
}
.search-books-container input{
    width: 30em;
    padding: .4em;
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 2.4em;
    color: rgb(160, 160, 160);
}
.search-books-container .fa-magnifying-glass{
    position: absolute;
    z-index: 2;
    left: 74px;
    top: 32px;
    font-size: 1.2em;
    color: rgb(160, 160, 160);
}
.create-btn{
    padding: .4em 1em;
    font-size: 1.1em;
    border: none;
    background-color: rgba(195, 209, 241, 0.404);
    color: rgb(95, 109, 155);
    border-radius: 5px;
    transition: .1s ease-in;
    margin-right: 2em;
    cursor: pointer;
    
}
.create-btn:hover{
    background-color: rgb(195, 209, 241);
}
.create-btn:active{
    background-color: rgba(195, 209, 241, 0.404);
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4em;
    cursor: pointer;
}

.loan-table{
    width: 100%;
    border-collapse: separate;
}

.loan-table, td, th {
border: 1.5px solid rgb(160, 160, 160);
border-collapse:collapse;

}

td {
    text-align: left;
    height:40px;
    padding:15px;
}

th{
    text-align:center;
    height:70px;
    background-color:  rgb(181, 141, 182, 0.7) ;
}

tr:nth-child(even){
    background-color:rgb(181, 141, 182, 0.2) ;
}

.editbutton{
    width:40px;
  
}

.editbutton:hover{
    cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 400px;
  height: 380px;
  border-radius: 8px;
}
.modal-content h2{
    padding-bottom: 1em;
}
.close {
  float: right;
  cursor: pointer;
  font-size: 22px;
}

.add-btn, .submit-btn {
    padding: .4em 1em;
    font-size: 1.1em;
    border: none;
    background-color: rgba(195, 209, 241, 0.404);
    color: rgb(95, 109, 155);
    border-radius: 5px;
    transition: .1s ease-in;
    margin-right: 2em;
    cursor: pointer;
    margin-top: 1em;
    margin-left: .4em;
}
.add-btn, .submit-btn:hover{
    background-color: rgb(195, 209, 241);
}
.add-btn, .submit-btn:active{
    background-color: rgba(195, 209, 241, 0.404);
}
#loanForm input{
    width: 20em;
    padding: .4em;
    margin: .4em;
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 1em;
    color: rgb(160, 160, 160);
}

.profile-wrapper {
    position: relative;
    display: inline-block;
}
.profile-dropdown {
    position: absolute;
    top: calc(100% + 0px);
    right: 0;
    width: 150px;
    background: white;
    border-radius: 5px;
    margin-right: 60px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.12);

    display: none;
    z-index: 1000;
}
.profile-dropdown a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.profile-dropdown a:hover {
    background: #f5f5f5;
}

.profile-wrapper:hover .profile-dropdown {
    display: block;
}

.profile-dropdown:hover {
    display: block;
}