*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #B58DB6;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-task-bar{
    height: 95vh;
    width: 16em;
    border-radius: 15px;
    background-color: white;
    margin-right: 1em;
}
.main-content{
    height: 95vh;
    width: 98em;
    border-radius: 15px;
    background-color: white;
}
.logo{
    width: 16em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.list-items li{
    list-style-type: none; 
    padding-left: 2em;
    transition: .1s ease-in;
}
.list-items li:hover{
    transform: scale(1.1);
}
.list-items li:active{
    transform: scale(1.0);
}
.list-items a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 1.0em;
}

.list-items i {
    font-size: 1.2em;
    padding-right: 1.5em;
    padding-left: 1em;
}

.list-items ul li{
    padding: 1.5em;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title .title-text{
    font-size: 2.2em;
    padding: .4em 1.8em;
}
hr{
    border: 1px solid rgb(226, 226, 226);
}
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4em;
    cursor: pointer;
}