<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore | HOMELIB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <section class="left-task-bar">
            <div>
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" title="Graphic by Md Rubel Miah from Vecteezy.com">
            </div>

            <div class="list-items">
                <ul>
                    <a class="explore-item" href="{{ url_for('explore') }}"><li> <i class="fa-solid fa-magnifying-glass"></i> Explore</li></a>
                    <a class="dashboard-item" href="{{ url_for('dashboard') }}"><li> <i class="fa-solid fa-gauge"></i> Dashboard</li></a>
                    <a class="library-item" href="{{ url_for('library') }}"><li> <i class="fa-solid fa-book"></i> Library</li></a>
                    <a class="lists-item" href="{{ url_for('lists') }}"><li><i class="fa-solid fa-list"></i> Lists</li></a>
                    <a class="loans-item" href="{{ url_for('loan') }}"><li><i class="fa-regular fa-clipboard"></i> Loans</li></a>
                </ul>
            </div>

        </section>
        <section class="main-content">
            <div class="title">
                <p class="title-text">Explore</p>
                <hr>
            </div>
            <div class="search-books">
                <div class="search-books-container">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input id="searchInput" placeholder="Search books, authors, or lists...">
                    <div id="suggestions" class="suggestions"></div>
                    <button class="create-btn"><i class="fa-solid fa-plus"></i> Add New Book</button>
                </div>
                
                <hr>
            </div>


            <h1>Explore Books</h1>
            
            <div class="explore-section">
                <h2>Popular Since 2020</h2>
                <div id="popular-books" class="book-grid"></div>
            </div>
        
            <div class="explore-section">
                <h2>New Releases</h2>
                <div id="new-books" class="book-grid"></div>
            </div>
        
            <div class="explore-section">
                <h2>Fantasy</h2>
                <div id="fantasy-books" class="book-grid"></div>
            </div>
        
        </section>
        
    </main>

    <script src="{{ url_for('static', filename='js/explore.js') }}?v=2"></script>
</body>
</html>