<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans | HOMELIB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <section class="left-task-bar">
            <div>
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" title="Graphic by Md Rubel Miah from Vecteezy.com">
            </div>

            <div class="list-items">
                <ul>
                    <a class="explore-item" href="{{ url_for('profile') }}"><li> <i class="fa-regular fa-circle-user"></i> Profile</li></a>
                    <a class="explore-item" href="{{ url_for('explore') }}"><li> <i class="fa-solid fa-magnifying-glass"></i> Explore</li></a>
                    <a class="library-item" href="{{ url_for('library') }}"><li> <i class="fa-solid fa-book"></i> Library</li></a>
                    <a class="shelves-item" href="{{url_for('shelves') }}"><li> <i class="fa-solid fa-layer-group"></i> Shelves</li></a>
                    <a class="lists-item" href="{{ url_for('stats') }}"><li><i class="fa-solid fa-list"></i> Stats</li></a>
                    <a class="loans-item" href="{{ url_for('loan') }}"><li><i class="fa-regular fa-clipboard"></i> Loans</li></a>
                </ul>
            </div>
        </section>

        <section class="main-content">
            <div class="profile-container">
                <div class="title">
                    <p class="title-text">My Loans</p>
                    <div class="profile-wrapper">
                        <img class="profile-img" src="{{ url_for('static', filename='images/meldin.jpeg') }}">
                    
                

                        <div class="profile-dropdown">
                            
                            <div class="dropdown-content">
                                <a href="{{ url_for('profile') }}"><i class="fa-regular fa-circle-user"></i> Profile</a>
                                <a href="{{ url_for('shelves') }}"><i class="fa-solid fa-layer-group"></i> Shelves</a>
                                <a href="{{ url_for('stats') }}"><i class="fa-solid fa-list"></i> Stats</a>
                                <a href="{{ url_for('loan') }}"><i class="fa-regular fa-clipboard"></i> Loans</a>

                                <a href="{{ url_for('login') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="search-books">
                <div class="search-books-container">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input placeholder="Search loans..."> 
                    <button id="addLoanBtn" class="create-btn"><i class="fa-solid fa-plus"></i> Add New Loan</button>
                </div>
                <hr>
            </div>

            <div id="loanModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Add New Loan</h2>

                    <form id="loanForm">
                    <input name="book" id="book" placeholder="Book Name" required />
                    <input name="borrow" id="borrow" placeholder="Borrow Date" onfocus="(this.type='date')" onblur="(this.type='text')" type="text"  required />
                    <input name="return" id="return" placeholder="Return Date" onfocus="(this.type='date')" onblur="(this.type='text')" type="text"  required />
                    <input name="loanee" id="loanee" placeholder="Loanee Name" required />

                    <button type="submit" class="submit-btn"> <i class="fa-solid fa-plus"></i> Add Loan</button>
                    </form>
                </div>
            </div>

            <div class = "loan-table-section">
                <div class = "loan-container">
                    <table class="loan-table">
                        <thead>
                            <tr>
                                <th scope = "column-name"> Loan ID</th>
                                <th scope = "column-name" >Book Name </th>
                                <th scope = "column-name">Borrow Date</th>
                                <th scope = "column-name">Return Date</th>
                                <th scope = "column-name">Loanee Name</th>
                                <th scope = "column-name">Status</th>
                            </tr>
                        </thead>
                        <tbody id = "tablebody">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/loans.js') }}"></script>
</body>
</html>