<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans | HOMELIB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
</head>
<body>
    <main>
        <section class="left-task-bar">
            <div>
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
            </div>

            <div class="list-items">
                <ul>
                    <a class="explore-item" href="{{ url_for('explore') }}"><li> <i class="fa-solid fa-magnifying-glass"></i> Explore</li></a>
                    <a class="dashboard-item" href="{{ url_for('dashboard') }}"><li> <i class="fa-solid fa-gauge"></i> Dashboard</li></a>
                    <a class="library-item" href="{{ url_for('library') }}"><li> <i class="fa-solid fa-book"></i> Library</li></a>
                    <a class="lists-item" href="{{ url_for('lists') }}"><li><i class="fa-solid fa-list"></i> Lists</li></a>
                    <a class="loans-item" href="{{ url_for('loan') }}"><li><i class="fa-regular fa-clipboard"></i> Loans</li></a>
                </ul>
            </div>
        </section>

        <section class="main-content">
            </section>
    </main>

    <script src="{{ url_for('static', filename='js/loan.js') }}"></script>
</body>
</html>