<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Book Entry | HomeLib</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">
</head>
<body>

<h1>Add a Book Manually</h1>

<form id="manualBookForm" action="{{ url_for('books.add_manual_book') }}">
    <label>Title</label>
    <input type="text" name="title" required>

    <label>Author</label>
    <input type="text" name="author" required>

    <label>ISBN</label>
    <input type="text" name="isbn">

    <label>Cover ID (optional)</label>
    <input type="text" name="cover_id">

        <label>Publish Date (optional)</label>
    <input type="date" name="publish_date">

    <input type="hidden" id="username" name="username">
    <input type="hidden" name="book_id">

    <button type="submit">Add Book</button>
</form>

<p id="message"></p>

<script type="module" src="{{ url_for('static', filename='js/books.js') }}"></script>

</body>
</html>