<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Book Entry | HomeLib</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manualentry.css') }}">
</head>
<body>

<main>

<div class="main-content">

<div class="title">
<div class="title-text">Add a Book Manually</div>
</div>

<hr>

<div class="manual-entry-container">

<form id="manualBookForm" action="{{ url_for('manualentry') }}">

<label>Title</label>
<input type="text" name="title" required>

<label>Author</label>
<input type="text" name="author" required>

<label>ISBN</label>
<input type="text" name="isbn">

<label>Cover ID (optional)</label>
<input type="text" name="cover_id">

<label>Publish Year (optional)</label>
<input type="text" name="publish_date">

<input type="hidden" id="username" name="username">
<input type="hidden" name="book_id">

<button type="submit">Add Book</button>

</form>

<p id="message"></p>

</div>

</div>

</main>

</body>
</html>