<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | HOMELIB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="left-task-bar">
            <div>
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" title="Graphic by Md Rubel Miah from Vecteezy.com">
            </div>

            <div class="list-items">
                <ul>
                    <a class="explore-item" href="{{ url_for('profile') }}"><li> <i class="fa-regular fa-circle-user"></i> Profile</li></a>
                    <a class="explore-item" href="{{ url_for('explore') }}"><li> <i class="fa-solid fa-magnifying-glass"></i> Explore</li></a>
                    <a class="dashboard-item" href="{{ url_for('dashboard') }}"><li> <i class="fa-solid fa-gauge"></i> Dashboard</li></a>
                    <a class="library-item" href="{{ url_for('library') }}"><li> <i class="fa-solid fa-book"></i> Library</li></a>
                    <a class="lists-item" href="{{ url_for('stats') }}"><li><i class="fa-solid fa-list"></i> Stats</li></a>
                    <a class="loans-item" href="{{ url_for('loan') }}"><li><i class="fa-regular fa-clipboard"></i> Loans</li></a>
                </ul>
            </div>
        </section>

        <section class="main-content">
            <div class="title">
                <p class="title-text">My Profile</p>
                <img class="profile-img" src="{{ url_for('static', filename='images/profile-img.png') }}">
                
            </div>
            <hr>
            <div class="profile-main">
                <div class="profile-top">
                    <div class="profile-img-div">
                        <img class="profile-img-change" src="{{ url_for('static', filename='images/profile-img.png') }}">
                    </div>
                    <div class="profile-top-content">
                        <p class="profile-name">John Doe</p>
                        <p class="profile-username">@johnd</p> - <p class="profile-date-joined">Joined Mar 2026</p>
                        <p class="profile-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur pariatur libero est.</p>
                        <i class="fa-solid fa-location-crosshairs"></i><p class="profile-from">Cleveland, USA</p> &middot; <p class="profile-book-count">14 Books</p> &middot; <p class="profile-shelves-count">4 Shelves</p>
                    </div>
                    <div class="edit-profile-btn">
                        <button>Edit Profile</button>
                    </div>
                </div>
                <div class="profile-bottom">

                </div>
            </div>
            
        




        </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>